*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.borderline{
    border-width: 2px;
    border-right-width: 5px;
    border-color: grey;
    border-style: ridge;
    background-color: gray;
}
.brder{
    box-sizing: border-box;
    border-width:3px;
    height: 30%;
    border-style: solid;
    border-color: gray;
    margin-top:20px;
}

.favourable{
    width: 15%;
    background-color: green;
}
.moderate{
    width: 15%;
    background-color: yellow;
}
.high{
    width: 15%;
    background-color: red;
}
.forecast{
    display:inline-block;
    margin:5px;
   max-width:18%;
    
}
.dailyForecast{
    justify-content: right;
    margin-left:25%;
    
}
